<footer>
  <div class="quick-access">
    <div class="list about">
      <img src="{{ '/assets/img/common/siteLogo_x.webp' | relative_url }}" alt="サイトロゴ">
      <p>ぱらそるのポータルサイト</p>
      <ul>
        <li></li>
        <li><a href=""><i class="bi bi-youtube"></i>---</a></li>
        <li><a href=""><i class="bi bi-twitter-x"></i>---</a></li>
        <li><a href=""><i class="bi bi-steam"></i>---</a></li>
      </ul>
    </div>
    <div class="list">
      <p>その他リンク</p>
      <ul>
        <li><a href="">露鏡面</a></li>
        <li><a href="">研修所</a></li>
        <li><a href="">がらくた倉庫</a></li>
        <li><a href="">資料館</a></li>
        <li><a href="">お知らせ</a></li>
      </ul>
    </div>
    <div class="list">
      <p>人気記事</p>
      <ul>
        <li><a href="">---</a></li>
        <li><a href="">---</a></li>
        <li><a href="">---</a></li>
        <li><a href="">---</a></li>
        <li><a href="">---</a></li>
      </ul>
    </div>
    <div class="list">
      <p>案内・規約</p>
      <ul>
        <li><a href="">プライバシーポリシー</a></li>
        <li><a href="">免責事項</a></li>
        <li><a href="">広告掲載と依頼について</a></li>
        <li><a href="">アフィリエイトリンクについて</a></li>
        <li><a href="">特定商取引法に基づく表記</a></li>
        <li><a href="">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
  <p>このページはGitHub Pagesによってホストされています</p>
  <small>© 2026 ぱらそる All rights reserved.</small>
</footer>