<header>
  <img src="{{ '/assets/img/common/siteLogo_x.webp' | relative_url }}" alt="サイトロゴ">
  <ul>
    <li><a href="">露鏡面</a></li>
    <li><a href="">研修所</a></li>
    <li><a href="">がらくた倉庫</a></li>
    <li><a href="">資料館</a></li>
    <li><a href="">お知らせ</a></li>
  </ul>

  <div class="menu-wrapper">
    <input type="checkbox" id="menu-toggle" hidden>

    <label class="menu-icon-label" for="menu-toggle">
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
    
    <div class="overlay"></div>
    
    <nav class="menu">
      <ul>
        <li><a href="">露鏡面</a></li>
        <li><a href="">研修所</a></li>
        <li><a href="">がらくた倉庫</a></li>
        <li><a href="">資料館</a></li>
        <li><a href="">お知らせ</a></li>
      </ul>
    </nav>
  </div>
</header>