<header>
  <div class="logoLink">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/common/siteLogo_x.webp' | relative_url }}" alt="サイトロゴ">
    </a>
  </div>
  <ul>
    <li><a href="">わたしについて</a></li>
    <li><a href="">なぐりがき</a></li>
    <li><a href="">がらくた倉庫</a></li>
    <li><a href="">つくったもの</a></li>
    <li><a href="">おしらせ</a></li>
  </ul>

  <div class="menu-wrapper">
    <input type="checkbox" id="menu-toggle" hidden>

    <label class="menu-icon-label" for="menu-toggle">
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
    
    <div class="overlay"></div>
    
    <nav class="menu">
      <ul>
        <li><a href="">わたしについて</a></li>
        <li><a href="">なぐりがき</a></li>
        <li><a href="">がらくた倉庫</a></li>
        <li><a href="">つくったもの</a></li>
        <li><a href="">おしらせ</a></li>
      </ul>
    </nav>
  </div>
</header>