<div class="other-articles full-bleed">
  <div class="latest">
    <div class="box-header">
      <p class="box-title">最新記事</p>
      <a href="" class="more">もっと見る</a>
    </div>
    <div class="box-wrapper">
      <button class="scr-btn" data-dir="left">❮</button>
      <button class="scr-btn" data-dir="right">❯</button>
      <div class="boxes">
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="recommended">
    <div class="box-header">
      <p class="box-title">おすすめ記事</p>
      <a href="" class="more">もっと見る</a>
    </div>
    <div class="box-wrapper">
      <button class="scr-btn" data-dir="left">❮</button>
      <button class="scr-btn" data-dir="right">❯</button>
      <div class="boxes">
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="most-popular">
    <div class="box-header">
      <p class="box-title">人気記事</p>
      <a href="" class="more">もっと見る</a>
    </div>
    <div class="box-wrapper">
      <button class="scr-btn" data-dir="left">❮</button>
      <button class="scr-btn" data-dir="right">❯</button>
      <div class="boxes">
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="article-card">
              <img src="img/hamburger.jpg" alt="記事サムネイル">
              <p>記事タイトル</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>