<div class="other-articles">
  <div class="article-section pickup">
    <p class="box-title">{{ site.data.global.pickup_article.title }}</p>
    <div class="boxes">
      {% assign pickup_posts = site.posts | where_exp: "post", "site.data.global.pickup_article.slugs contains
      post.slug" %}
      {% for post in pickup_posts limit:2 %}
      {% if post %}
      {% include articleCard.html url=post.url title=post.title date=post.date hero_image=post.hero_image %}
      {% endif %}
      {% endfor %}
    </div>
    <p class="more"><a href="{{ '/articles' | relative_url }}">もっと見る</a></p>
  </div>
  <div class="article-section latest">
    <p class="box-title">最新記事</p>
    <div class="boxes">
      {% for post in site.posts limit:5 %}
      {% include articleCard.html url=post.url title=post.title date=post.date hero_image=post.hero_image %}
      {% endfor %}
    </div>
    <p class="more"><a href="{{ '/articles' | relative_url }}">もっと見る</a></p>
  </div>
</div>